.page {
  font-size: 1.2rem;
  padding: 1rem 8rem;
}

.title {
  margin-bottom: 1rem;
}

.about-me {
  text-align: justify;
}

.list-skills {
  display: flex;
  justify-content: space-around;
}

.form {
  margin: 20px;
  border-radius: 5rem;
  display: flex;
  flex-direction: column;
}

form.form > * {
  display: block;
  border-radius: 0.3rem;
  margin-top: 5px;
  margin-bottom: 5px;
  height: 1.5rem;
  width: 50%;
}

.input-field {
  padding: 0.8rem 0.5rem;
}

#message {
  height: 5rem;
}

.card-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
